:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Gowun Dodum', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

p{
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
h1 {
    color: #66BFBF;
    font-size: 5.625rem; /*100% = 16px, so for 90px: (90/16)*100 = 562.5% */
    /* em = M(phonitaically) = 16px = 100% so 5.625em = 562.5% = 90px
    use rem (root em) so that it doesn't add up to body's size too */
    margin-top: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    scroll-padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-container {
    background-color: #E4F9F5; 
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.myimg{
    width: 15%
}

.coding,
.ml,
.mysql {
    width: 25%;
    float: left;
    margin-right: 30px;
}
.java,
.da {
    width: 25%;
    float: right;
    margin-left: 30px; /*anti-float = use "clear"*/
}

.copyright {
    color: #EAf6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.contact-mesg {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__item:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__items{
    margin: 0 .5em;
}

.social-list__link{
    padding: .5em;
}
